<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <Platform>Any CPU</Platform>
        <PublishProtocol>FileSystem</PublishProtocol>
        <_TargetId>Folder</_TargetId>
        <TargetFramework>net472</TargetFramework>
        <PublishDir>bin\$(Configuration)\$(TargetFramework)\</PublishDir>
        <ModPublisherCommand>Update</ModPublisherCommand>
    </PropertyGroup>
</Project>